
* {
    padding: 0px;
    margin: 0px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Sans-serif;
    color: whitesmoke;
    height: 100%;
    margin: 0;
    line-height: 1.5;
    background-image: url("10.jpg");
    background-size: cover;
    background-attachment: fixed;
}


.overlay{
position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:  rgba(56, 56, 56, 0.5);
    z-index: -1;
}

h1,h2,h3{
    margin: 0;
    font-weight: 400;
}
.lg-heading{
     font-size: 6rem;
 }
.sm-heading{
    margin-bottom:  2rem;
    padding: 0.2rem 1rem;

}
a {color: whitesmoke;
    text-decoration: none;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#home{
    width: 95%;
    margin: auto;
    margin-top: 20vh;
}


#nav-mark a{
    color: #d7ad4b;
}

.icons{
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.icons a{
    padding: 0.4rem;
}
.icons a:hover{
    color: #d7ad4b;
    transition: all 0.5s ease-out;
}

.text-secondary{
    color: #d7ad4b;
}

.menu-btn{
    position: absolute;
    z-index: 2;
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: whitesmoke;
}

.portrait{
    margin: auto;
    width: 180px;
    height: 180px;
    background: url('profile.jpg');
    border-radius: 50%;
    border: solid 3px #d7ad4b;
    transition:0.3s;
    margin-bottom: 3em;
    opacity: 1;
    
}

.nav-item{
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    font-size:22px;
    transition:0.3s;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;

}

.nav-item a:hover {
     color: #d7ad4b;
     transition: all 0.5s ease-out;
 }

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:5;
    top:0;
    right:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:6em;
    border-radius: 25px 0 0 25px;
    transition:0.6s;
}


.side-nav .btn-close{
    position:absolute;
    right: 35px;
    top: 15px;
    font-size:36px;
}


#foot{
    padding: 10px;
    color: whitesmoke;
    background-color:#111;
    opacity:0.5;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}



.about-container{
width: 60%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow: hidden;
}

.about-section{
margin-top: 10px;
margin-bottom: 10px;
    display: block;
}

.about-text{
    max-width: 65%;
    float: left;
}

.mapouter{
float: right;
        padding-left: auto;
    margin-bottom: 10px;
}

.line{
    clear: both;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: whitesmoke;
}

.line2{
    clear: both;
    width: 100%;
    height: 1px;
    margin: 0 0 5px 0;
    background: whitesmoke;
}

.about-section-skills{

}

.about-section-title{
    margin-top: 50px;
    margin-bottom: 30px;;
    text-align: center;
}

.about-tag-list{
    text-align: center;
}

.about-tag{
color: #5594a1;
display: inline-block;
    vertical-align: top;
    font-size: 1.07143rem;
    margin-right: 2rem;
    font-weight: 600;
}


.about-software-item{
    float: left;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
}

.about-software-name{
    float: right;
    margin-top: 25px;
    font-size: 1.07143rem;
    font-weight: 500;
}

.about-software-icon{
    width: 80px;
}

/* Portoflio */

#portfolioMain{
margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.box{
    position: relative;
    width: 480px;
    flex: auto;
    height: auto;
    box-sizing: border-box;
    display: inline-block;

}

.box .imgBox{
    position: relative;
    overflow: hidden;

}

.box .imgBox img{
    max-width: 100%;
    transition: transform 1.5s;

}

.box:hover .imgBox img{
    transform: scale(1.3);


}

.box .details{
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}


.box .details:hover{
    position: relative;
    transition:0.5s;
    background: #111111;
    opacity: 0.8;
}

.box .details .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
    text-align: center;
    padding: 15px;

}

.box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: whitesmoke;
    z-index: 5;
}

.box .details .content p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #d7ad4b;
    z-index: 5;
}