html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***** CODE ***************/

a {
    color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 60px;
    margin: auto;
}

/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease-out;
    z-index: 9999;
}

.navbar.sticky {
    padding: 15px 0;
    background-color: #111;
    z-index: 9999;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #d7ad4b;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    margin-left: 20px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease-out;
}

.navbar .menu li a:hover {
    color: #d7ad4b;
}

.navbar .menu li a::after {
    margin-left: 10px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.5s ease-out;
}

.navbar .menu li a:hover::after {
    width: 100%;
    background-color: #d7ad4b;
    transition: width 0.5s ease-out;
}

/* Portrait in mobile nav */

.portrait {
    display: none;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}

.portrait img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: solid 5px #d7ad4b;
    opacity: 1;
}

/* Menu btn */

.menu-btn {
    cursor: pointer;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
    width: 25px;
    height: 4px;
    background-color: whitesmoke;
    ;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before, .menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: whitesmoke;
    ;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-9px);
}

.menu-btn-burger::after {
    transform: translateY(9px);
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: #d7ad4b;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    color: whitesmoke;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* navbar styling END! */

/* Home section styling */

.home {
    display: flex;
    /*   background-color: #131313; */
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: whitesmoke;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    color: whitesmoke;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #d7ad4b;
    font-weight: 500;
}

.home .icons {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.home .icons a {
    padding: 0.5rem;
}

.home .icons a:hover {
    color: #d7ad4b;
    transition: all 0.5s ease-out;
}

.hire-me {
    margin-left: 0.5rem;
    display: inline-block;
    background: #d7ad4b;
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.hire-me:hover {
    background: #b99541;
    color: whitesmoke;
    box-shadow: 0 0.5em 0.5em -0.4em #362e1b;
    transform: translateY(-0.24em);
}

/* Home section styling - END*/

/* About section styling */

section {
    padding: 80px 0;
}

.about {
    font-family: 'Poppins', sans-serif;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    color: whitesmoke;
    border-top: 10px solid #b99541;
}

.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Black bar*/

.about .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.about .title::after {
    content: 'Who I am';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 100px;
    font-size: 20px;
    color: #d7ad4b;
    padding: 5px;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    transform: translateX(-50%);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-content .column-left {
    width: 50%;
}

.about-content .column-left img {
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.about-content .column-right {
    width: 50%;
}

.about-content .column-right .about-text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-content .column-right .about-text span {
    font-weight: 500;
    color: #d7ad4b;
}

.about-content .column-right p {
    text-align: justify;
}

.about-content .column-right a {
    text-align: justify;
    display: inline-block;
    background: #d7ad4b;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.about-content .column-right a:hover {
    background: #b99541;
    color: whitesmoke;
    transform: translateY(-0.24em);
}

/* About section styling - END*/

/*  ============================== SERVICES SECTION ======================================= */

.services {
    font-family: 'Poppins', sans-serif;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    color: whitesmoke;
}

.services .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Black bar*/

.services .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.services .title::after {
    content: 'What I Provide';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 150px;
    font-size: 20px;
    color: #d7ad4b;
    padding: 5px;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    transform: translateX(-50%);
}

.wrapper {
    width: 100%;
}

.carousel {
    max-width: 100%;
    margin: auto;
    padding: 0 10px;
}

.carousel .card {
    margin: 20px 10px;
}

.carousel .card-frame {
    background: #1f1f1f;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel .card-frame .card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.carousel .card-frame .svg-img {
    padding: 20px;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -120px;
    z-index: 500;
    background-color: #d7ad4b;
    border: 6px solid #131313;
}

.carousel .card-frame h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
}

.carousel .card-frame .card-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 5px;
    text-align: center;
}

.carousel .card-frame .card-btn {
    padding: 1rem 2.5rem;
    background-color: #d7ad4b;
    color: #131313;
    border-radius: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.carousel .card-frame .card-btn:hover {
    background: #b99541;
    color: whitesmoke;
    transform: translateY(-0.24em);
}

/* move dots here*/

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #d7ad4b!important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.owl-dot.active, .owl-dot:hover {
    background: #d7ad4b!important;
}

/* CAROSUEL END ============== */

/*  ============================== SERVICES END ======================================= */

/*  ============================== SKILLS SECTION ======================================= */

.skills {
    font-family: 'Poppins', sans-serif;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    color: whitesmoke;
}

.skills .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Black bar*/

.skills .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.skills .title::after {
    content: 'My Technical skills';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 180px;
    font-size: 20px;
    color: #d7ad4b;
    padding: 5px;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    transform: translateX(-50%);
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/*  ============================== SKILLS END ======================================= */

/*  ============================== Project SECTION ======================================= */

.projects {
    font-family: 'Poppins', sans-serif;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    color: whitesmoke;
}

.projects .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Black bar*/

.projects .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.projects .title::after {
    content: 'View The Projects';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 180px;
    font-size: 20px;
    color: #d7ad4b;
    padding: 5px;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    transform: translateX(-50%);
}

.projects ul {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.projects ul li {
    list-style: none;
    padding: 8px 10px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects ul li:hover {
    color: #d7ad4b;
}

.projects ul li.active {
    color: #d7ad4b;
}

.projects ul li.active::after {
    content: '';
    display: block;
    margin-top: 2px;
    width: 100%;
    height: 2px;
    background-color: #d7ad4b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* ============= */

.container .card {
    width: 350px;
    height: 350px;
    padding: 1rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: all 0.5 ease-in-out;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(147deg, #131313 0%, #1f1f1f 100%);
    z-index: 2;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.container .card:hover::before {
    opacity: 0.9;
}

.container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.container .card .info {
    width: 100%;
    height: 100%;
    z-index: 3;
    color: whitesmoke;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.container .card:hover .info {
    opacity: 1;
}

.container .card .info h1 {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.container .card .info h2 {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #d7ad4b;
    margin-top: 10px;
    font-size: 16px;
}

.container .card .info p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container .card .info .info-link {
    padding: 10px 10px;
    width: fit-content;
    border-radius: 50%;
    border: 2px solid #131313;
    background-color: #d7ad4b;
}

.container .card .info .info-link:hover {
    background-color: #b99541;
}
.container .card .info .info-link a{
    color: whitesmoke;
}

.container .card .info .btn {
    align-content: center;
    padding: 5px 10px;
    background-color: #d7ad4b;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.container .card .info .btn:hover {
    background-color: #b99541;
}

/*  ============================== PROJECT END ======================================= */

/*  ============================== COntact SECTION ======================================= */

.contact {
    font-family: 'Poppins', sans-serif;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    color: whitesmoke;
}

.contact .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Black bar*/

.contact .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.contact .title::after {
    content: 'Let´s get some Java';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 200px;
    font-size: 20px;
    color: #d7ad4b;
    padding: 5px;
    /*   background-color: #1f1f1f; */
    background-color: #131313;
    transform: translateX(-50%);
}

.contact-content {
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.contact-content .column-left {
    width: calc(50% - 30px);
}

.contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-content .column-left p {
    text-align: justify;
}

.contact-content .column-left .icons {
    margin: 10px 0;
}

.contact-content .column-left .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact-content .column-left .row .info {
    margin-left: 30px;
}

.contact-content .column-left .row i {
    font-size: 25px;
    color: #d7ad4b;
}

.contact-content .column-right {
    width: 50%;
    height: 100%;
}

.contact-content .info .head {
    font-weight: 500;
    color: #d7ad4b;
}

.contact-content .column-right .fields {
    display: flex;
}

.contact-content .column-right .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact-content .column-right .name {
    margin-right: 10px;
}

.contact-content .column-right .email {
    margin-left: 10px;
}

.contact-content .column-right .field .textarea {
    height: 100px;
    width: 100%;
}

.contact-content .column-right .field input, .contact-content .column-right .field textarea {
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    color: whitesmoke;
    border: 1px solid #d7ad4b;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-content .column-right .field textarea {
    padding-top: 15px;
    resize: none;
}

.contact-content .column-right .contact-button {
    margin-top: 30px;
    height: 47px;
    width: 170px;
}

.contact-content .column-right .contact-button button {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid #d7ad4b;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
}

.contact-content .column-right .contact-button button:hover {
    background-color: #d7ad4b;
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
}

/*  ============================== CONTEACT END ======================================= */

/*  ============================== Construction ======================================= */

.under-construction {
    width: 70%;
}

.skillbar {
    width: 100%;
    margin: 20px 0;
}

.skillbar p {
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 500;
    letter-spacing: 3px;
}

.constr-percent {
    margin-top: 20px;
    background: #1f1f1f;
    padding: 4px;
    box-sizing: border-box;
    border: 2px solid #d7ad4b;
    border-radius: 8px;
    margin-bottom: 20px;
}

.constr-progress {
    background-color: white;
    width: 100%;
    height: 10px;
    border-radius: 8px;
}

/*  ============================== Construction  END ======================================= */

/*  ============================== FOOTER ======================================= */

footer {
    background-color: #0e0d0d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer .footer-box {
    padding: 10px 13px;
}

footer .footer-box p {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    border-top: 5px solid #d7ad4b;
    border-left: 2px solid #d7ad4b;
    border-top-left-radius: 10px;
}

footer span {
    color: #d7ad4b;
}

/*
footer .icons {
    float: right;

}

footer .icons a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer .icons a:hover {
    color: #d7ad4b;
    transition: all 0.5s ease-out;
}
*/

/*  ============================== FOOTER - END ======================================= */

/* responsive media query start */

@media (max-width: 1200px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: flex;
        z-index: 999;
    }
    .menu-btn.active .menu-btn-burger {
        transform: translateX(50px);
        background-color: transparent;
    }
    .menu-btn.active .menu-btn-burger::before {
        transform: rotate(45deg) translate(-35px, 35px);
    }
    .menu-btn.active .menu-btn-burger::after {
        transform: rotate(-45deg) translate(-35px, -35px);
    }
    .portrait {
        display: inline-block;
    }
    .navbar .menu {
        z-index: 999;
        position: fixed;
        height: 120vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 40px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 15px 0;
        font-size: 22px;
    }
    .navbar .menu li a::after {
        margin-left: 0px;
    }
    .home .home-content .text-2 {
        color: whitesmoke;
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about-content .column-left, .about-content .column-right {
        width: 100%;
    }
    .about-content .column-left {
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }
    /* Don't know if needed */
    .about-content .column-right {
        flex: 100%;
    }
    .under-construction {
        width: 90%;
    }
    .contact-content .column-left, .contact-content .column-right {
        width: 100%;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        color: whitesmoke;
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        color: whitesmoke;
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 22px;
    }
}

/* service card animation */

@media screen and (min-width: 1300px) {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .carousel .card-frame:nth-child(1) {
        animation: fadeIn 0.5s 0.5s backwards;
    }
    .carousel .card-frame:nth-child(2) {
        animation: fadeIn 0.5s 1s backwards;
    }
    .carousel .card-frame:nth-child(3) {
        animation: fadeIn 0.5s 1.5s backwards;
    }
    .carousel .card-frame:hover {
        transform: scale(1.05);
        border: 1px solid #d7ad4b;
    }
}